<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>


	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-1.7.0.min.js"  integrity="sha256-/05Jde9AMAT4/o5ZAI23rUf1SxDYTHLrkOco0eyRV84="crossorigin="anonymous"></script>


	<link rel="stylesheet" href="{$basePath}/static/css/App.css">

</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>



	<h1 class="text-center">Nette dockerization template by Patrik Duch</h1>

	{include content}

	{block scripts}


	
	<!-- jQuery Nette -->
	<script src="{$basePath}/static/js/jquery.nette.js"></script>
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	
	{/block}
</body>
</html>
