parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


services:
	router: App\Router\RouterFactory::createRouter

	security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])

	projectDetailRepository:
		class: App\Repositories\ProjectDetailRepository
	userRepository:
	    class: App\Infrastructure\Repositories\UserRepository
	passwordEncrypterService:
	    class: App\Services\PasswordEncrypter

	authenticator:
	    class: App\Services\Authenticator