{block content}
<div class="container ">
	<h2 class="text-center" n:foreach="$projectDetail as $item">
		{$item->NAME}
	</h2>

	<a class="ajax" n:href="changeClickState!">Change</a>

	{snippet clicked_area}
		{$clicked ? "Clicked": "Not clicked"}
	{/snippet}

</div>


<script>
	$(function() {

		$('a ajax').on('click', function() {
			$.get(this.href);
			return false;
		});

	});
</script>
